body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fondoMongo.png);
}

.botones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 25%;
    margin: 4rem auto auto auto;
}

.boton {
    margin-top: 9.5rem;
    margin-left: 0.5rem;
}


.titulo {
    text-align: center;
    color: rgb(44, 199, 91);
    margin-top: 6rem;
    font-family: 'Merriweather', serif;

}

@media (min-width: 300px) and (max-width: 480px) {
    body {
        background-image: url(../img/fondoCel.jpeg);
    }

    .titulo {
        text-align: center;
        color: rgb(44, 199, 91);
        margin-top: 5rem;
        font-family: 'Merriweather', serif;

    }

    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 81%;
        margin: 14rem auto auto auto;
    }

    .boton {
        margin-top: 1.5rem;
        width: 18rem;
    }
}

@media (min-width: 481px) and (max-width: 530px) {
    body {
        background-image: url(../img/fondoTablet1.jpeg);
    }

    .titulo {
        text-align: center;
        color: rgb(44, 199, 91);
        margin-top: 5rem;
        font-family: 'Merriweather', serif;

    }

    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 82%;
        margin: 14rem auto auto auto;
    }

    .boton {
        margin-top: 1.5rem;
        width: 26rem;
    }
}

@media (min-width: 531px) and (max-width: 730px) {
    body {
        background-image: url(../img/fondoTablet2.jpeg);
    }

    .titulo {
        text-align: center;
        color: rgb(44, 199, 91);
        margin-top: 5rem;
        font-family: 'Merriweather', serif;

    }

    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 74%;
        margin: 14rem auto auto auto;
    }

    .boton {
        margin-top: 1.5rem;
        width: 25rem;
    }
}

@media (min-width: 731px)and(max-width: 1024px) {
    body {
        background-image: url(../img/fondoTablet3.jpeg);
    }

    .titulo {
        text-align: center;
        color: rgb(44, 199, 91);
        margin-top: 5rem;
        font-family: 'Merriweather', serif;

    }

    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 74%;
        margin: 14rem auto auto auto;
    }

    .boton {
        margin-top: 1.5rem;
        width: 25rem;
    }
}